[Unit]
Wants=network-online.target
After=network-online.target nss-lookup.target

[Service]
Type=simple
Restart=always
ExecStart=python /home/idiot/HovelHelper/HovelHelper.py
